{
    "plugins": [
        ["module-resolver", {
            "root": ["./src"],
            "extensions": [".ts", ".tsx"],
            "alias": {
                "test": "./test",
                "underscore": "lodash"
            }
        }]
    ]
}